@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  background-image: url('/photo-1507123948929-86a949bdaa23.jpeg');
  font-size: 20px;
  font-family: 'Homemade Apple', cursive;
}

.App {
  margin: 6em 0px 0px 25em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  button {
    background-color: black;
    color: white;
    height: 2em;
    margin-left: 1em;
  }
}
.form-todo {
  input {
    width: 20em;
    height: 2em;
  }
}
